{% extends 'base.html.twig' %}

{% block title %}Détail d'un article{% endblock %}

{% block body %}


    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>

    <a href="{{ path('article_list') }}">Retour à la liste des articles</a>
    <h2>Commentaires</h2>
  {% for comment in article.comments %}

      <p>{{ comment.content }}</p>

    {% endfor %}

        <h2>Ajouter un commentaire</h2>
        {{ form_start(commentForm) }}
        {{ form_widget(commentForm) }}
        <input type="submit" value="Publier" class="btn btn-success">
        {{ form_end(commentForm) }}


{% endblock %}

